<template>
  <div>
    <h1>{{ info.title }}</h1>
    <p>{{ info.description }}</p>
    <button @click="shareFacebook">Share on Facebook</button>
  </div>
</template>

<script>
export default {
  async asyncData({ params }) {
    const info = await fetch(`https://example.com/api/info/${params.id}`).then((res) => res.json());

    return {
      info,
    };
  },
  head() {
    return {
      title: this.info.title,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.info.title,
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.info.description,
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.info.image,
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: `https://example.com/info/${this.info.id}`,
        },
      ],
    };
  },
  methods: {
    shareFacebook() {
      const url = encodeURIComponent(`https://example.com/info/${this.info.id}`);
      const shareUrl = `https://www.facebook.com/sharer/sharer.php?u=${url}`;
      window.open(shareUrl, '_blank');
    },
  },
};
</script>
