<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="elevation-12">
        <v-toolbar color="primary" dark flat>
          <v-toolbar-title>FCM Notification</v-toolbar-title>
          <v-spacer></v-spacer>
          show permission : {{ permission }}
        </v-toolbar>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-textarea
                v-model="idToken"
                label="My Token"
                outlined
                dense
              ></v-textarea>
            </v-col>

            <v-col cols="12">
              <v-btn
                color="primary"
                class="white--text"
                @click="sendNotification"
                :disabled="!idTokenUser"
              >
                Send Notification
              </v-btn>
            </v-col>
 
            <v-col cols="12">
              <v-text-field
                v-model="isAuthorization"
                label="Authorization api key"
                outlined
                dense
              >
                <template v-if="isAuthorization"> 
                  <v-btn slot="append" icon @click="clearLocalStorage">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </template>
              </v-text-field>
            </v-col>

            <v-col cols="12">
              <v-textarea
                v-model="idTokenUser"
                label="User Token"
                outlined
                dense
                clearable
              ></v-textarea>
            </v-col>

            <v-col cols="12">
              <v-textarea v-html="result"></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "IndexPage",
  data() {
    return {
      idToken: "",
      result: "",
      permission: "",
      idTokenUser: "",
      isAuthorization: localStorage.getItem("isAuthorization") || null,
    };
  },

  created() {
    this.startListeners();
  },
  methods: {
    // FCM NOTIFICATION FUNCTIONS
    async startListeners() {
      await this.requestPermission();
      await this.startOnMessageListener();
      await this.getIdToken();
    },

    startOnMessageListener() {
      try {
        this.$fire.messaging.onMessage((payload) => {
          console.info("Message received : ", payload);
          console.log(payload.notification.body);
          this.$toast.open({
            message: `<b>${payload.notification.data.title}</b><br/> ${payload.notification.data.body}`,
            type: "success",
            position: "top-right",
            duration: 5000,
          });
        });
      } catch (e) {
        console.error("Error5 : ", e);
      }
    },

    async requestPermission() {
      try {
        const permission = await Notification.requestPermission();
        console.log("GIVEN notify perms");
        console.log(permission);
        this.permission = permission;
      } catch (e) {
        console.error("Error3 : ", e);
      }
    },

    async getIdToken() {
      try {
        this.idToken = await this.$fire.messaging.getToken();
        console.log(this.idToken);
        console.log("SAve TOKEN ID FOR this browser");
      } catch (e) {
        console.error("Error4 : ", e);
      }
    },

    // END FCM NOTIFICATION FUNCTIONS

    // FIREBASE FUNCTIONS send notification to all users
    async sendNotification() {
      try {
        localStorage.setItem("isAuthorization", this.isAuthorization);
        // check Authorization api key alert
        if (this.isAuthorization == null) {
          alert("Please enter Authorization api key");
          return;
        }
        // check idTokenUser alert

        if (this.idTokenUser == "") {
          alert("Please enter User Token");
          return;
        }

        const response = await this.$axios.post(
          "https://fcm.googleapis.com/fcm/send",
          {
            registration_ids: [this.idTokenUser], // array of tokens
            data: {
              body: "Body of Your Notification in Data",
              title: "Title of Your Notification in Title",
            },
            notification: {
              body: "Body of Your Notification",
              title: "Title of Your Notification",
              // click_action: "documentApproved/list",
            },
          },
          {
            headers: {
              "Content-Type": "application/json",
              Authorization: `key = ${this.isAuthorization} `,
            },
          }
        );
        console.log(response);

        this.result = response.data;
      } catch (e) {
        console.error("Error1 : ", e);
      }
    },

    // clear localstorage
    clearLocalStorage() {
      localStorage.clear();
      this.isAuthorization = null;
    },
  },
};
</script>
